{% extends "portfolio/base.html" %}

{% block content %}

  <div class="hobbies-header">
    <h1>Some guitar stuff</h1>
  </div>

  <div class="hobbies-video-container">
    <iframe class="hobbies-vid1"
            src="https://www.youtube.com/embed/3BL9DD3XOb0"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    <iframe class="hobbies-vid1"
            src="https://www.youtube.com/embed/QeHZ-irrxnE"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
  </div>

{% endblock %}